
h1, h2, h3, a {
    background-color: #60c0e2;
    font-family: "Dancing Script", cursive;
    text-align: center; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

table {
    background-color: #7993c9;
    border-radius: 20px;
    margin: 20px auto; 
    text-align: left;  
}


.img-net {
    max-width: 700px; 
    height: auto;     
    display: block;   
    margin: 40px auto;
}

.img-ip, .img-debit, .img-mac {
    border-radius: 10px;
    display: block; 
    margin: 10px auto; 
}

div {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    background-color: #bfcde0 ; 
    font-family: Arial, sans-serif;
}


.slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    width: 70%; 
    position: relative; 
    overflow: hidden; 
    margin: 20px auto; 
}


.slider-container img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: auto; 
    opacity: 0; 
    transition: opacity 1s ease-in-out;
}


.slider-container img.active {
    opacity: 1; 
}
